.hazrep_button{
    width:100%
}

.navbar_hazrep{
    margin-top: 6px;
    margin-bottom: 6px;
}

.report-line{
    min-height:100px;
    background: #cbdbcd;
    border: 1px solid black;
    border-radius: 25px;
   
    overflow: hidden;
    
}
.report-left{
    background: #f5f5f5;
    border-right: 1px solid black; 
    margin-bottom: -99999px; 
    padding-bottom: 99999px;    
}
.report-left-1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:5px;
    
    
}
.report-middle{
    background: #dbd9cb;
    border-right: 1px solid black;
    margin-bottom: -99999px; 
    padding-bottom: 99999px;
    
}
.report-right{
    /* border: 1px solid black;  */
    margin-bottom: -99999px; 
    padding-bottom: 99999px;   
}


.action-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:5px;
}
.action-button{
    width:50%;
    max-width:100px;
    align-self: center;
    margin:3px;
    text-align: center;
}

.initial-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:5px;
}
.initial-row {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    width:100%;
}

.initial-item{
    text-align:center;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    height: auto;
}

p{
    margin: 0 0 0px;
    
}
.score{
    font-size: 18px;
    font-weight: bold;
}
.green{
    color:green
}
.yellow{
    color:yellow;
    color:rgb(165, 165, 4);
    
}
.red{
    color:red
}
.Created{
    background: #ffab9e;
}
.Submitted{
    background: #ffe0a1;
}
.Closed{
    background: #f5f5f5;
}

.btn-warning{
    /* background: #dac480; */
    color:black;
}

.not-allowed{
    cursor: not-allowed;
}


.line-log{
    padding: 5px;
    text-align: center;
    height: auto;
    background: #acc5c8;
    background: #f5f5f5;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 5px;
}

.log-content{
    font-size:10px;
    font-style: italic;
}

.tile-wrapper{
    position: relative;
    display: inline-block;
}
.tile-content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -90rem;
    top: -8rem;
    text-align: left;
    background-color: #FFFFFF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 60%);
    width: 120rem;
    font-size: 12px;
    z-index:9999999;
    max-height:400px;
    /* overflow-y:scroll; */
}
.tile-wrapper:hover .tile-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }

.score{
    text-align: center;
}
.score-title{
    font-size: 15px;
    font-weight: bold;
    width:100%;
    text-align: center;
}
.score-line{
    border-bottom: solid #a2afb1;
}
.score-score{
    float:left;
    width:5%;
    text-align:center;
}
.score-name{
    float:left;
    width:10%;
    text-align:center;
}
.score-description{
    float:left;
    width:85%;
    text-align:left;
}

.line-attachment {
    padding: 25px;
    text-align: center;
    height: auto;
    background: #acc5c8;
    background: #f5f5f5;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 5px;
}

.attachment {
    max-width: 80%;
    max-height: 200px;
}

.infobar{
    height:55px;
    text-align:center;
}

.tag-filter{
    float:left;
    padding:5px;
    border-radius:10px !important;
    margin-right:5px;
    margin-bottom:5px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 60%);    
}

.stats-header {
    font-weight: bold;
    font-size: 18px;
    /* background-color: #2e6da4; */
}
.stats-title{
    font-size:20px;
    text-align:center;
    font-weight:bold;
    margin-bottom:50px;
}

.show-category{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.show-time-period{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-left:15%;
}

.chart-type{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-left:15%;
    margin-top:10px;
}


.text-center{
    text-align:center;
}

.dashboard-list-hazrep{
    background: #f9fffd;
    border: 0.5px solid black;
    border-radius: 6px;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

.dashboard-reports{
    margin-top:10px;
}

.dashboard-reports .report-line{
    min-height:auto;
}