
.main-box{
    border:1px solid black; 
	border-radius: 25px;
    padding:10px;
    text-align: center; 
    
}

.title-report{
    font-size: 18px;
   
}
.subtitle-report{
    font-style: italic;
}
.line-report{
    padding:5px;
    border:1px solid #c5c5c5; 
	border-radius: 25px;
}

.tobehidden{
    background-color: #f1f1fa;
}

.tobefilled{
    background-color: #fc9898;
}

.navbar_injury{
    padding:5px;
}
.injury_button{
    margin:5px;
    border-radius: 10px;
    width:100%;
}

.progress{
    margin: 5px;
    min-height: 30px;
    font-size: 14px; 
    text-align: center;
    width:100%;
    border:1px solid #5a7551;
    padding:0px;
}
.made{
    background-color: #359b28;
    text-align: left;
    padding-left:2px;
}
.created{
    background-color: #f73e3e;
    color:black;
    text-align: left;
    padding:5px;
    border:1px solid #5a7551;
}
.opened{
    background-color: #f7973e;
    color:black;
    text-align: left;
    padding:5px;
    border:1px solid #5a7551;
}
.closed{
    background-color: #4dad40;
    color:black;
    text-align: left;
    padding:5px;
    border:1px solid #5a7551;
}

.log-history {
    background: #f9fffd;
    border: 0.5px solid black;
    border-radius: 6px;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
.report{
    background: #fff7d5;
}
.investigation{
    background: #ffe2e2;
}
.followup{
    background: #e5e2ff;
}
.notes{
    background: #dfffcf;
}

.attachment_button{
    background: #afd0fc;
}
.attachment_button:hover{
    background: #35578b;
}
.attachement_row{
    margin-top: 2px;
    margin-bottom: 2px;
}
.attachement_title{
    font-size: 18px;
}

.tile{
    padding:20px;
    text-align: center;
    border: 0.5px solid black;
    border-radius: 15px;
    font-size: 20px;
    min-height:150px;
    box-shadow: 2px 6px #888888;
}

.report_list{
    border: 0.5px solid black;
    border-radius: 5px;
    padding:5px;
}

.text_blur{
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}




/* Latest addition from 30th October 2022 */
.btn-dashboard {
    -moz-user-select: none;
    -ms-touch-action: manipulation;
    -ms-user-select: none;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -webkit-user-select: none;
    /*background-color: #337ab7;*/
    background-color: #dbe0e5;
    background-image: none;
    border-color: #2e6da4;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    /*color: #fff;*/
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    user-select: none;
    vertical-align: middle;
    white-space: initial;
    width: 100%;
}
.btn-active{
    background-color: #4d525d; 
    color:#ffffff
}
.border-pls{
    /* /border: 1px solid black; */
    border-radius:5px;
}
.body_dashboard{
    /*height: 70vh;*/
    border: 1px solid black;
    border-radius:5px;
}
.dashboard_left{
    min-height:50vh;
    max-height:65vh;
}
.human{
    max-height: 55vh;
   
}
.mtb-2{
    margin-top:2px;
    margin-bottom:2px;
}
.flip-card{
   
}
.stats-card{
    
}
.stats-header{
    font-weight: bold;
    font-size:18px;
    /* background-color: #2e6da4; */
}
.stats-value{

}
.list-report {
    background: #f9fffd;
    border: 0.5px solid black;
    border-radius: 6px;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}