.row{
    padding:10px;
}
.title_workarea{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.job-id{
    /*background:#eef7ff; /*light gray */
    /*border:0.5px solid black; 
	border-radius: 5px;*/
    padding:5px;
    margin-bottom: 2px;
    margin-top: 2px;
    
    
}
.job-checked{
    background:#f0ffee; /*light gray*/
    border:0.5px solid black; 
	border-radius: 5px;
    padding:5px;
    
   
    
}

.job-unchecked{
    background:#ffeeee; /*light gray*/
    border:0.5px solid black; 
	border-radius: 5px;
    padding:5px;
    
    
}